.loading { background: url(../img/loader.gif) no-repeat 0px center; color: #999; display: block; font-size: 14px; font-weight: bold; line-height: 20px; padding: 3px 0 0 20px; }
#info { cursor: pointer; left: 50%; margin: 0 0 0 -385px; position: absolute; text-align: center; z-index: 10000; }
#infoX { width: 770px; }
#info .box { background: #f5f5f5; border: 1px solid #dedede; margin: 0; padding: 20px; }
#infoContent { background: #fff; border: 1px dotted #ccc; padding: 25px 25px 22px 25px; }
#info h2 { border-bottom: 1px solid #dedede; color: #B02000; font-weight: bold; margin: 0 0 15px 0; padding: 0 0 7px 0; position: relative; text-align: left; }
#info h2 span { bottom: 6px; color: #222; display: block; font-size: 70%; font-weight: normal; margin: 5px 0 0 0; position: absolute; right: 0; }
#info ul { list-style: none; margin: 0 0 20px 0; }
#info li { background: #ABD4EE; color: #222; font-size: 90%; margin: 0 0 5px 0; padding: 7px 10px; text-align: left; }
#info li.alt { background: #E1F2A7; }
#info li.alt2 { background: #F0BCC7; }
#info li b { color: #000; font-size: 110%; }
.notice { background-color: #FBFFCF; border-bottom: 1px solid #D9DF99; border-left: 1px solid #EBEFC2; border-radius: 15px; border-right: 1px solid #D9DF99; border-top: 1px solid #EBEFC2; margin: 10px 10px 0 10px; padding: 10px 0px 10px 0; }
.notice h2 { color: #cd4224; display: block; font-size: 150%; }
.notice b { color: #BD3D20; }
.tooltip { cursor: help !important; text-decoration: none; }
#tipFrame { border: none; margin: 7px 0 0 7px; position: absolute; z-index: 9999; }
#tooltip b { border-bottom: 1px dotted #555; color: #FFE27F !important; cursor: pointer; display: block; font-size: 13px; margin: 0 0 10px 0; padding-bottom: 5px; }
#tooltip em { color: #fff; display: block; font-style: normal; font-weight: normal; letter-spacing: .02em; margin: 0 0 7px 0; }
.promo { background: #fff; border: 3px solid #dedede; border-bottom: 3px solid #ccc; border-radius: 15px; border-right: 3px solid #ccc; color: #333; font-size: 85%; line-height: 140%; margin: 15px auto 5px auto; padding: 10px 20px 10px 0; text-align: center; width: 457px; }
.promo img { margin: 0 4px -4px 0; }
.promo b { background: #8EBD00; border-bottom-left-radius: 12px; border-right: 4px solid #BEE37A; border-top-left-radius: 12px; color: #fff; display: inline-block; float: left; font-size: 130%; margin: -10px 0 -10px 0; moz-border-radius-bottomleft: 10px; moz-border-radius-topleft: 10px; padding: 10px 15px 11px 15px; webkit-border-bottom-left-radius: 12px; webkit-border-top-left-radius: 12px; }
.promo a { font-weight: bold; }
.promo em { color: #CF451C; font-style: normal; font-weight: bold; }
h1, h2, h3 { font-weight: normal; }
p { color: #222; }
.inline { display: inline !important; }
.center { text-align: center !important; }
.left { float: left; }
.right { float: right; }
.hide, .hideFlash embed, .hideFlash .flash { display: none !important; }
.noshadow { box-shadow: none !important; }
img.noshadow { border: none !important; }
.clearfix, #stage { display: inline-block; }
.clearfix[class], #stage[id] { display: block; }
* html .clearfix, * html #stage { height: 1%; overflow: visible; }
*+html .clearfix, *+html #stage { min-height: 1%; }
.clearfix:after, #stage:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
h1.logo, h3.logo { font-size: 100%; text-decoration: none; text-indent: -9000px; }
h1.logo a, h3.logo a { display: block; height: 3em; overflow: hidden; }
a { color: blue; outline: none; }
a:hover { color: green; cursor: pointer; }
img, a img { border: none; ms-interpolation-mode: bicubic; }
.icon { height: 16px; width: 16px; }
.rtl-lang input, .rtl-lang textarea, .rtl-lang select { direction: rtl; }
a.button, button.button, .text .button { background: -o-linear-gradient(top, #FFF, #E9E9E9); background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
to(#E9E9E9)); background: -webkit-linear-gradient(top, #FFF, #E9E9E9); background-clip: padding-box; background-color: #FFF; border: 1px solid #dedede; border-bottom: 1px solid #bfbfbf; border-radius: 11px; border-right: 1px solid #bbb; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px; color: #464646; cursor: pointer; display: inline-block; font-family: "Lucida Grande", Tahoma, Arial, sans-serif; font-size: 100%; line-height: 130%; margin: 0 .7em 0 0; padding: 5px 10px 6px 10px; text-decoration: none; }
a.bigpush { font-size: 140%; }
button { overflow: visible !important; width: auto !important; }
button.button { padding: 4px 10px 3px 7px; }
button.button[type] { line-height: 17px; padding: 5px 10px 5px 7px; width: auto; }
*+html button.button[type] { margin-bottom: 1px; padding: 4px 10px 3px 7px; }
* html button.button { margin-bottom: 1px; }
a.button img, button.button img { margin: 0 3px -3px 0 !important; }
a.button:hover, button.button:hover, a.button:focus, button.button:focus { box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 3px; color: #000; }
button.active, a.button:active { background: -o-linear-gradient(top, #EFEFEF, #fff); background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF),
to(#fff)); background: -webkit-linear-gradient(top, #EFEFEF, #fff); background-color: #EFEFEF; border-color: #ccc; box-shadow: inset rgba(0, 0, 0, 0.15) 0 1px 3px; }
button.positive, a.positive { color: #63A142; font-weight: bold; }
a.positive:hover, button.positive:hover { color: #63A142; }
a.positive:active { background: #94B717; border: 1px solid #94B717; color: #fff; text-shadow: #607710 1px 1px 1px; }
a.negative, button.negative { color: #d12f19; }
a.negative:hover, button.negative:hover { color: #d12f19; }
a.negative:active { background: #d12f19; border: 1px solid #d12f19; color: #fff; text-shadow: #A93816 1px 1px 1px; }
.buttons a em, .buttons button em, a.button em { font-style: normal; font-weight: normal; }
a.dark img { margin: 0 3px -3px 0 !important; }
a.dark, a.darkPos, a.darkNeg { background: #444; background-clip: padding-box; border: 1px solid #444; border-radius: 11px; color: #eee; display: inline-block; padding: 5px 10px; text-decoration: none; text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; }
a.dark:hover { background: #555; border: 1px solid #fff; color: #fff; }
a.darkPos { background: #4c8614; border: 1px solid #4c8614; }
a.darkPos:hover { background: #5ca417; border: 1px solid #fff; color: #fff; }
a.darkNeg { background: #d12f19; border: 1px solid #d12f19; }
a.darkNeg:hover { background: #f13118; border: 1px solid #fff; }
a.dark:active, a.darkPos:active, a.darkNeg:active { background-color: #FAE158 !important; border-color: #DFC94F; color: #222 !important; }
.info .buttons { float: right; margin: 6px 0 0 0; padding: 0; }
.info .buttons a, .info .buttons button { margin: 0 0 0 .7em; }
.btn { background-image: none; border: 1px solid transparent; border-radius: 2px; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 400; line-height: 1.42857143; margin-bottom: 0; moz-user-select: none; ms-touch-action: manipulation; ms-user-select: none; padding: 6px 12px; text-align: center; touch-action: manipulation; user-select: none; vertical-align: middle; webkit-user-select: none; white-space: nowrap; }
.btn-link { background-color: transparent; border-radius: 0; box-shadow: none; color: #666; font-weight: 400; }
.btn-link:hover { background-color: transparent; text-decoration: underline; }
.btn-sm { border-radius: 3px; font-size: 12px; line-height: 1.5; padding: 5px 10px; }
.btn-xs { border-radius: 3px; font-size: 12px; line-height: 1.5; padding: 1px 5px; }
#overlay { background: #000; filter: alpha(opacity = 70); height: 100%; left: 0; opacity: 0.7; position: absolute; top: 0; width: 100%; z-index: 5000; }
#overlay[id] { position: fixed; }
#lightbox { height: 300px; left: 50%; margin: -150px 0 0 -410px; position: absolute; text-align: left; top: 50%; width: 820px; z-index: 9999; }
#lightbox[id] { height: auto; min-height: 280px; position: fixed; }
.lbOff { cursor: pointer; }
#lightbox.done { background: #FFE27F; border: 1px solid #D4B240; border-bottom: 1px solid #A08730; border-radius: 50px; border-right: 1px solid #A08730; }
#lbContent { background: #fff; border: 1px solid #EFCA4A; border-radius: 30px; height: 223px; margin: 25px; padding: 25px 30px; position: relative; }
#lbContent[id] { height: auto; min-height: 223px; }
#lightbox.loadin { background-color: #222; border: 1px solid #ccc; }
#lbLoadMessage p { color: #fff; font-size: 150%; line-height: 380px; text-align: center; }
#lightbox.done #lbLoadMessage, #lightbox.loadin #lbContent { display: none; }
#lightbox.done #lbContent, #lightbox.loadin #lbLoadMessage { display: block; }
#lightbox.blue, .blue #lightbox { background: #61A9DF; border-color: #61A9DF; }
.blue #lbContent { border-color: #338DCF; }
#lightbox.green, .green #lightbox { background: #A4DE5D; border-color: #A4DE5D; }
.green #lbContent { border-color: #85CE2C; }
#lightbox.error, .error #lightbox { background: #EA3109; border-color: #BE2700; }
.error #lbContent { border-color: #eee; }
* html.prepIE { overflow-y: hidden; }
* html.prepIE body { height: 100%; }
* html.prepIE select { visibility: hidden; }
* html.prepIE #lightbox select { visibility: visible; }
#lightbox.image, #lightbox.image #lbContent, #lightbox.movie, #lightbox.movie #lbContent { background: none !important; border: none !important; height: auto !important; margin-left: -450px; padding: 0 !important; text-align: center; width: 900px; }
#lightbox.image #lbContent, #lightbox.movie #lbContent { margin: 0 !important; }
#lightbox .button.dark { background: #333; border: 1px solid transparent; border-bottom: 1px solid #111; border-right: 1px solid #111; font-size: 85%; padding-left: 8px; }
#lightbox .button.dark img { height: 13px; margin-bottom: -2px !important; }
* html #lightbox.image, * html #lightbox.image #lbContent, * html #lightbox.movie,
* html #lightbox.movie #lbContent { background: #000 !important; border: #000 !important; }
h4#lbCaption { color: #f5f5f5 !important; font-size: 120%; padding: 20px 0 15px 0; text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px; }
#lightbox h3 { color: #222; font-size: 100%; margin: 0 0 1.2em 0; }
#lightbox form ul { margin: 0 0 10px 0; padding: 0; }
#lightbox form li { position: static; width: 97%; }
#lightbox div.buttons { margin: 0 0 1.2em 0; }
#lightbox .stuff p { font-size: 100%; line-height: 150%; margin: 0 0 1em 0; }
.prompt { padding: 60px 0 30px 0; text-align: center; }
.processing .prompt { padding: 60px 0 70px 0; }
.prompt h2 { margin-bottom: 15px !important; }
.prompt h3 { font-size: 120% !important; padding: 0 20px 40px 20px !important; }
.prompt input.text { border-radius: 12px; color: #333; font-size: 180%; margin: 0 auto 10px auto; outline: none; text-align: center; width: 75%; }
.prompt li { margin-bottom: 5px; padding: 0; width: auto !important; }
.prompt li div { margin: 0; }
.prompt li p { margin-bottom: 10px; }
.prompt li.buttons { padding-top: 5px; }
.prompt label.desc { font-size: 140%; font-weight: normal; padding: 20px 0 7px 0; }
.prompt button { display: inline; display: inline-block; float: none; }
.confirm { padding-bottom: 25px; }
.confirm h2 { margin-bottom: 15px; padding-top: 42px; }
.confirm h2 b { color: #CE2001; }
.confirm p { font-size: 110%; line-height: 160%; margin: 0 0 1.5em 0; }
.popup { background: #1a1b1d; left: 50%; margin-left: -250px; position: fixed; text-align: left; top: 100px; width: 600px; z-index: 7000; }
.popup img { max-width: 600px; }
.popup.open { display: block; }
.popup h2 { color: #e7bf1d; font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; font-size: 25px; font-weight: bold; line-height: 1.4; padding: 30px 50px 20px; }
.popup p { color: white; font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; font-size: 15px; line-height: 1.4; padding: 0 50px 30px; }
.popup span { color: #777; display: inline-block; float: right; padding: 0 80px 0 0; text-align: right; width: 50%; }
.popup span b { color: #B6D50B; }
.popup .close { cursor: pointer; left: -10px; position: absolute; top: -10px; }
.dialog-info-graphic { float: left; }
#lightbox.badge { background: #c73a25; background-clip: padding-box; border-radius: 5px; border-width: 0px; height: auto; overflow: hidden; width: 630px; }
#lightbox.badge #lbContent { background: #c73a25; background-clip: padding-box; border-radius: 0px; border-width: 0px; margin: 0 0 20px 0; padding: 0px; }
#lightbox.badge .badge { background-clip: padding-box; border-radius: 0px; border-width: 0px; margin: 0; width: auto; }
#lightbox.badge .badge h2 { background-clip: padding-box; border-radius: 0px; }
#lightbox.badge p { font-size: 14px; font-weight: normal; }
#lightbox.badge .lbOff { color: #259ACC; font-size: 14px; line-height: 20px; text-decoration: underline; }
#lightbox.error.badge { width: 520px; }
.customize-confirmation-button { font-weight: bold; margin: 10px 0 0 !important; text-align: center; width: 315px !important; }
.confirm-delete { padding: 20px; }
.confirm-delete .lightbox-actions { margin-top: 15px; }
.confirm-delete-field label { display: block; margin-bottom: 5px; }
.confirm-delete-field input[type="text"] { background-clip: padding-box; border: 2px #ccc solid; border-radius: 5px; font-size: 20px; line-height: 30px; padding: 5px; width: 475px; }

.wf-btn, a.wf-btn { border: 0; border-radius: 5px; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
rgba(0, 0, 0, 0.05); color: white; cursor: pointer; display: inline; display: inline-block; font-size: 14px; line-height: 25.2px; margin-bottom: 0; margin-left: .3em; overflow: hidden; padding: 4px 12px; text-align: center; transition: background-position 0.1s linear, background 0.1s linear; vertical-align: middle; webkit-transition: background-position 0.1s linear, background 0.1s
linear; zoom: 1; }
.wf-btn:first-child, a.wf-btn:first-child { margin-left: 0; }
.wf-btn:hover, .wf-btn:focus, a.wf-btn:hover, a.wf-btn:focus { background-position: 0 -15px; color: white; text-decoration: none; }
.wf-btn:focus, a.wf-btn:focus { outline: 5px auto -webkit-focus-ring-color; outline: thin dotted #333; outline-offset: -2px; }
.wf-btn.active, .wf-btn:active, a.wf-btn.active, a.wf-btn:active { background-image: none; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
rgba(0, 0, 0, 0.05); outline: 0; }
.wf-btn.disabled, .wf-btn[disabled], a.wf-btn.disabled, a.wf-btn[disabled] { background-image: none; box-shadow: none; cursor: default; filter: alpha(opacity = 65); opacity: 0.65; }
.wf-btn-large, a.wf-btn-large { border-radius: 5px; color: white; display: inline; display: inline-block; font-size: 24px; overflow: hidden; padding: 0.33em 1em; zoom: 1; }
.wf-btn-large:hover, a.wf-btn-large:hover { color: white; text-decoration: none; }
@media screen and (max-width: 480px) { .wf-btn-large, a.wf-btn-large { width: 100%; }
}
.wf-btn-large [class^="icon-"], a.wf-btn-large [class^="icon-"],
.wf-btn-large [class*=" icon-"], a.wf-btn-large [class*=" icon-"] { display: inline; font-size: 0.75em; margin-left: 10px; margin-top: 4px; zoom: 1; }
.wf-btn-small, a.wf-btn-small { border-radius: 5px; display: inline; display: inline-block; font-size: 12px; overflow: hidden; padding: 0.25em; zoom: 1; }
.wf-btn-small [class^="icon-"], .wf-btn-small [class*=" icon-"], a.wf-btn-small [class^="icon-"],
a.wf-btn-small [class*=" icon-"] { margin-top: 0; }
.wf-btn-mini [class^="icon-"], .wf-btn-mini [class*=" icon-"], a.wf-btn-mini [class^="icon-"],
a.wf-btn-mini [class*=" icon-"] { margin-top: -1px; }
.wf-btn-mini, a.wf-btn-mini { border-radius: 5px; font-size: 10px; padding: 0.125em; }
[class*="wf-btn"][data-alt-text] { backface-visibility: visible; height: 37.8px; position: relative; webkit-backface-visibility: visible; }
[class*="wf-btn"][data-alt-text] span { color: white !important; display: block; position: relative; top: 0; transition: top 100ms linear; webkit-transition: top 100ms linear; }
[class*="wf-btn"][data-alt-text]:after { content: attr(data-alt-text); display: block; position: absolute; top: -2em; transition: top 100ms linear; webkit-transition: top 100ms linear; width: 70%; }
[class*="wf-btn"][data-alt-text]:hover span { top: 2em; }
[class*="wf-btn"][data-alt-text]:hover:after { top: .3em; }
.wf-btn-block { box-sizing: border-box; display: block; padding-left: 0; padding-right: 0; width: 100%; }
.wf-btn-block+.wf-btn-block { margin-top: 5px; }
input[type="submit"].wf-btn-block, input[type="reset"].wf-btn-block,
input[type="button"].wf-btn-block { width: 100%; }
.wf-btn-primary.active, .wf-btn-warning.active, .wf-btn-danger.active,
.wf-btn-success.active, .wf-btn-info.active, .wf-btn-inverse.active { color: rgba(255, 255, 255, 0.75); }
button.wf-btn, input[type="submit"].wf-btn { padding-bottom: 3px; padding-top: 3px; }
button.wf-btn::-moz-focus-inner, input[type="submit"].wf-btn::-moz-focus-inner { border: 0; padding: 0; }
button.wf-btn.wf-btn-large, input[type="submit"].wf-btn.wf-btn-large { padding-bottom: 7px; padding-top: 7px; }
button.wf-btn.wf-btn-small, input[type="submit"].wf-btn.wf-btn-small { padding-bottom: 3px; padding-top: 3px; }
button.wf-btn.wf-btn-mini, input[type="submit"].wf-btn.wf-btn-mini { padding-bottom: 1px; padding-top: 1px; }
.wf-btn-link, .wf-btn-link:active, .wf-btn-link[disabled] { background-color: transparent; background-image: none; box-shadow: none; }
.wf-btn-link { border-color: transparent; border-radius: 0; color: #3893c8; cursor: pointer; }
.wf-btn-link:hover, .wf-btn-link:focus { background-color: transparent; color: #ae87c4; text-decoration: underline; }
.wf-btn-link[disabled]:hover, .wf-btn-link[disabled]:focus { color: #3f3d3d; text-decoration: none; }
[class*='wf-btn'] { color: white; }
[class*='wf-btn'].is-purple { background: #ae87c4; text-shadow: 1px 1px 1px #9c6cb7; }
[class*='wf-btn'].is-purple:hover { background: #ba98cc; }
[class*='wf-btn'].is-purple.wf-btn-inactive { background: #272727; color: #ae87c4; text-shadow: none; }
[class*='wf-btn'].is-purple.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-green { background: #8db817; text-shadow: 1px 1px 1px #719412; }
[class*='wf-btn'].is-green:hover { background: #9ecf1a; }
[class*='wf-btn'].is-green.wf-btn-inactive { background: #272727; color: #8db817; text-shadow: none; }
[class*='wf-btn'].is-green.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-red { background: #dc5743; text-shadow: 1px 1px 1px #d03d27; }
[class*='wf-btn'].is-red:hover { background: #e06a58; }
[class*='wf-btn'].is-red.wf-btn-inactive { background: #272727; color: #dc5743; text-shadow: none; }
[class*='wf-btn'].is-red.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-yellow { background: #e5b100; text-shadow: 1px 1px 1px #bc9200; }
[class*='wf-btn'].is-yellow:hover { background: #ffc500; }
[class*='wf-btn'].is-yellow.wf-btn-inactive { background: #272727; color: #e5b100; text-shadow: none; }
[class*='wf-btn'].is-yellow.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-blue { background: #3893c8; text-shadow: 1px 1px 1px #2f7ca9; }
[class*='wf-btn'].is-blue:hover { background: #4c9ece; }
[class*='wf-btn'].is-blue.wf-btn-inactive { background: #272727; color: #3893c8; text-shadow: none; }
[class*='wf-btn'].is-blue.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-orange { background: #f47f05; text-shadow: 1px 1px 1px #cc6a04; }
[class*='wf-btn'].is-orange:hover { background: #fa8c18; }
[class*='wf-btn'].is-orange.wf-btn-inactive { background: #272727; color: #f47f05; text-shadow: none; }
[class*='wf-btn'].is-orange.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-lt-orange { background: #de7f1b; text-shadow: 1px 1px 1px #b96a17; }
[class*='wf-btn'].is-lt-orange:hover { background: #e58b2d; }
[class*='wf-btn'].is-lt-orange.wf-btn-inactive { background: #272727; color: #de7f1b; text-shadow: none; }
[class*='wf-btn'].is-lt-orange.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-mint { background: #7ac4a0; text-shadow: 1px 1px 1px #5eb78c; }
[class*='wf-btn'].is-mint:hover { background: #8cccad; }
[class*='wf-btn'].is-mint.wf-btn-inactive { background: #272727; color: #7ac4a0; text-shadow: none; }
[class*='wf-btn'].is-mint.wf-btn-inactive:hover { background: #333; }
[class*='wf-btn'].is-sm { background: #aaba30; text-shadow: 1px 1px 1px #8c9a28; }
[class*='wf-btn'].is-sm:hover { background: #bacc38; }
[class*='wf-btn'].is-sm.wf-btn-inactive { background: #272727; color: #aaba30; text-shadow: none; }
[class*='wf-btn'].is-sm.wf-btn-inactive:hover { background: #333; }
.mfp-content, .mfp-container { cursor: pointer; }
.mfp-ready .lightbox { ms-transform: translateY(0); opacity: 1; transform: translateY(0); webkit-transform: translateY(0); }
.mfp-close:hover { background: transparent; }
.mfp-preloader { opacity: .1; }
.badge { background: #fffaea; border-bottom: 3px solid #f6efe2; border-radius: 5px; margin: 2em auto; width: 40em; }
.badge h2 { background: #c73a25; border-top-left-radius: 5px; border-top-right-radius: 5px; color: #fffaea; margin-bottom: 0; overflow: hidden; padding: .5em 5%; }
.badge .container { padding: 2.5em 5% 1.5em 5%; }
.badge p { font-size: 1.3em; font-weight: bold; margin-bottom: 1.5em; }
.badge .btn-row { text-align: right; }
.badge .btn-row a { margin: 0 0 0 .5em; }
.badge.is-info { border-color: #3893c8; }
.badge.is-info h2 { background: #3893c8; }
.badge.is-success { border-color: #8db817; }
.badge.is-success h2 { background: #8db817; }
.badge.is-error { border-color: #c73a25; }
.badge.is-error h2 { background: #c73a25; }
.badge.is-warning { border-color: #f47f05; }
.badge.is-warning h2 { background: #f47f05; }
.lightbox { margin: 0 auto; ms-transform: translateY(20px); transform: translateY(20px); transition: all 100ms ease-in-out; webkit-transform: translateY(20px); webkit-transition: all 100ms ease-in-out; }
.pictos { font-family: "Pictos"; }
.p-a:before { content: "a "; font-family: "Pictos"; }
.p-b:before { content: "b "; font-family: "Pictos"; }
.p-c:before { content: "c "; font-family: "Pictos"; }
.p-d:before { content: "d "; font-family: "Pictos"; }
.p-e:before { content: "e "; font-family: "Pictos"; }
.p-f:before { content: "f "; font-family: "Pictos"; }
.p-g:before { content: "g "; font-family: "Pictos"; }
.p-h:before { content: "h "; font-family: "Pictos"; }
.p-i:before { content: "i "; font-family: "Pictos"; }
.p-j:before { content: "j "; font-family: "Pictos"; }
.p-k:before { content: "k "; font-family: "Pictos"; }
.p-l:before { content: "l "; font-family: "Pictos"; }
.p-m:before { content: "m "; font-family: "Pictos"; }
.p-n:before { content: "n "; font-family: "Pictos"; }
.p-o:before { content: "o "; font-family: "Pictos"; }
.p-p:before { content: "p "; font-family: "Pictos"; }
.p-q:before { content: "q "; font-family: "Pictos"; }
.p-r:before { content: "r "; font-family: "Pictos"; }
.p-s:before { content: "s "; font-family: "Pictos"; }
.p-t:before { content: "t "; font-family: "Pictos"; }
.p-u:before { content: "u "; font-family: "Pictos"; }
.p-v:before { content: "v "; font-family: "Pictos"; }
.p-w:before { content: "w "; font-family: "Pictos"; }
.p-x:before { content: "x "; font-family: "Pictos"; }
.p-y:before { content: "y "; font-family: "Pictos"; }
.p-z:before { content: "z "; font-family: "Pictos"; }
.p-A:before { content: "A "; font-family: "Pictos"; }
.p-B:before { content: "B "; font-family: "Pictos"; }
.p-C:before { content: "C "; font-family: "Pictos"; }
.p-D:before { content: "D "; font-family: "Pictos"; }
.p-E:before { content: "E "; font-family: "Pictos"; }
.p-F:before { content: "F "; font-family: "Pictos"; }
.p-G:before { content: "G "; font-family: "Pictos"; }
.p-H:before { content: "H "; font-family: "Pictos"; }
.p-I:before { content: "I "; font-family: "Pictos"; }
.p-J:before { content: "J "; font-family: "Pictos"; }
.p-K:before { content: "K "; font-family: "Pictos"; }
.p-L:before { content: "L "; font-family: "Pictos"; }
.p-M:before { content: "M "; font-family: "Pictos"; }
.p-N:before { content: "N "; font-family: "Pictos"; }
.p-O:before { content: "O "; font-family: "Pictos"; }
.p-P:before { content: "P "; font-family: "Pictos"; }
.p-Q:before { content: "Q "; font-family: "Pictos"; }
.p-R:before { content: "R "; font-family: "Pictos"; }
.p-S:before, .rating span:before, .rating:hover span:hover ~ span:before { content: "S "; font-family: "Pictos"; }
.p-T:before { content: "T "; font-family: "Pictos"; }
.p-U:before { content: "U "; font-family: "Pictos"; }
.p-V:before { content: "V "; font-family: "Pictos"; }
.p-W:before { content: "W "; font-family: "Pictos"; }
.p-X:before { content: "X "; font-family: "Pictos"; }
.p-Y:before { content: "Y "; font-family: "Pictos"; }
.p-Z:before { content: "Z "; font-family: "Pictos"; }
.wufoo { font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; letter-spacing: .01em; }
.wufoo li { width: 64%; }
.info { border-bottom: 1px dotted #ccc; clear: both; display: inline-block; margin: 0 0 5px 0; padding: 0 1% 1.1em 1%; }
.info[class] { display: block; }
.hideHeader .info, #payment.hideHeader li.first { display: none; }
.info h2 { clear: left; font-size: 160%; font-weight: normal; margin: 0 0 5px 0; }
.info div { color: #555; font-size: 95%; line-height: 135%; }
#public input[disabled]+label.choice { cursor: default; }
#public input[disabled]+label.choice span { color: #777; }
.safari label.choice { margin-top: -16px; }
form.rightLabel .desc { padding-top: 2px; }
span.symbol { font-size: 120%; line-height: 135%; }
form li .datepicker { cursor: pointer !important; float: left; height: 16px; margin: .19em 5px 0 0; padding: 0; width: 16px; }
.msie[class] select.ieSelectFix { width: auto; }
.msie[class] select.ieSelectFix.small { min-width: 25%; }
.msie[class] select.ieSelectFix.medium { min-width: 50%; }
.msie[class] select.ieSelectFix.large { width: 100%; }
.third { width: 32% !important; }
.half { width: 48% !important; }
.full { width: 100% !important; }
li.file a { color: #222; text-decoration: none; }
li.file span { display: inline; float: none; }
li.file img { display: block; float: left; margin: 0 0 0 -10px; padding: 5px 5px 7px 5px; }
li.file .file-size, li.file .file-type { color: #666; font-size: 85%; text-transform: uppercase; }
li.file .file-name { color: blue; display: block; padding: 14px 0 0 0; text-decoration: underline; }
li.file .file-delete { color: red !important; font-size: 85%; text-decoration: underline; }
li.file a:hover .file-name { color: green !important; }
li.file a:hover .file-name { color: green !important; }
form li.likert { clear: both !important; float: none !important; margin: 0; padding: 6px 1% 5px 1%; width: auto !important; }
.likert table { background: #fff; border: 1px solid #dedede; border-bottom: none; margin: 0 0 .9em 0; width: 100%; }
.likert caption { color: #222; font-size: 95%; line-height: 135%; padding: 5px 0 .5em 0; text-align: left; }
.likert input { margin: 2px 0; padding: 0; }
.likert tbody td label { color: #565656; display: block; font-size: 85%; }
.likert thead td, .likert thead th { background-color: #e6e6e6; }
.likert td { border-left: 1px solid #ccc; padding: 4px 6px; text-align: center; }
.likert thead td { font-size: 85%; padding: 10px 6px; }
.likert th, .likert td { border-bottom: 1px solid #dedede; }
.likert tbody th { padding: 8px 8px; text-align: left; }
.likert tbody th label { color: #222; font-size: 95%; font-weight: bold; }
.likert tbody tr.alt td, .likert tbody tr.alt th { background-color: #f5f5f5; }
.likert tbody tr:hover td, .likert tbody tr:hover th { background-color: #FFFFCF; }
.col1 td { width: 30%; }
.col2 td { width: 25%; }
.col3 td { width: 18%; }
.col4 td { width: 14.5%; }
.col5 td { width: 12%; }
.col6 td, .col7 td { width: 10%; }
.col8 td, .col9 td, .col10 td { width: 6.5%; }
.col11 { width: 6%; }
.hideNumbers tbody td label { display: none; }
form li.buttons { clear: both; padding: 10px 1% 10px 1%; position: relative; width: auto !important; }
form li.buttons input { font-size: 100%; margin-right: 5px; }
input.btTxt { overflow: visible; padding: 0 7px; width: auto; }
.safari input.btTxt { font-size: 120%; }
.buttons .marker { color: #000; padding: 15px 10px 0 0; position: absolute; right: 0; top: 0; width: auto; }
button.link { background: none; border: none; color: blue; cursor: pointer; display: inline-block; font-size: 100%; padding: 0; text-decoration: underline; }
button.link:hover { color: green; }
.leftLabel li, .rightLabel li { padding-top: 9px; width: 74% !important; }
.leftLabel .desc, .rightLabel .desc { float: left; margin: 0 15px 0 0; width: 31%; }
.rightLabel .desc { text-align: right; }
.leftLabel li div, .rightLabel li div { float: left; width: 65%; }
* html .leftLabel li fieldset div, * html .rightLabel li fieldset div { float: right; }
*+html .leftLabel li fieldset div, *+html .rightLabel li fieldset div { float: right; }
.leftLabel .buttons, .rightLabel .buttons { padding-left: 23%; }
.leftLabel .buttons div, .rightLabel .buttons div { float: none; margin: 0 0 0 20px; }
.leftLabel p.instruct, .rightLabel p.instruct { margin-left: 5px; width: 28%; }
.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct { margin-left: 31% !important; padding-left: 15px; width: 65%; }
.noI form li, .altInstruct form li { width: auto !important; }
.noI .leftLabel .buttons, .noI .rightLabel .buttons { padding-left: 31%; }
.noI .leftLabel .buttons div, .noI .rightLabel .buttons div { margin: 0 0 0 17px; }
form li.leftHalf, form li.rightHalf { width: 47% !important; }
form li.leftThird, form li.middleThird, form li.rightThird { width: 30% !important; }
form li.leftFourth, form li.middleFourth, form li.rightFourth { _width: 22% !important; width: 23% !important; }
form li.leftFifth, form li.middleFifth, form li.rightFifth { _width: 17% !important; width: 18% !important; }
form li.middleThird { clear: none !important; float: left; margin-left: 2% !important; }
form li.leftFourth, form li.middleFourth, form li.leftFifth, form li.middleFifth { clear: none !important; float: left; }
form li.rightHalf, form li.rightThird, form li.rightFourth, form li.rightFifth { clear: none !important; float: right; }
li.leftHalf .small, li.rightHalf .small, li.leftHalf .medium, li.rightHalf .medium,
li.leftThird .small, li.middleThird .small, li.rightThird .small, li.leftThird .medium,
li.middleThird .medium, li.rightThird .medium, li.leftFourth .medium,
li.middleFourth .medium, li.rightFourth .medium, li.leftFourth .small,
li.middleFourth .small, li.rightFourth .small, li.leftFifth .medium, li.middleFifth .medium,
li.rightFifth .medium, li.leftFifth .small, li.middleFifth .small, li.rightFifth .small { width: 100% !important; }
form li.leftHalf, form li.leftThird, form li.leftFourth, form li.leftFifth { clear: left !important; float: left; }
* html form li.middleFourth { margin-left: 1% !important; }
* html form li.middleFifth { margin-left: 1% !important; }
form li.focused { background-color: #fff7c0; }
form .instruct { background: #f5f5f5; border: 1px solid #e6e6e6; font-size: 105%; left: 0; margin: 0 0 0 8px; opacity: 0; padding: 8px 10px 10px 10px; position: absolute; top: 0; transition: opacity 350ms ease-out; visibility: hidden; webkit-transition: opacity 350ms ease-out; width: 45%; z-index: 1000; }
form .instruct small { color: #444; font-size: 80%; line-height: 120%; }
form li.focused .instruct, form li:hover .instruct { left: 100%; opacity: 1; visibility: visible; }
.altInstruct .instruct, li.leftHalf .instruct, li.rightHalf .instruct,
li.leftThird .instruct, li.middleThird .instruct, li.rightThird .instruct,
li.leftFourth .instruct, li.middleFourth .instruct, li.rightFourth .instruct,
li.leftFifth .instruct, li.middleFifth .instruct, li.rightFifth .instruct,
.iphone .instruct { background: none !important; border: none !important; clear: left; font-style: italic; margin: 0; opacity: 1; padding: 6px 0 0 0; position: static; visibility: visible; width: 100%; }
.altInstruct p.complex, li.leftHalf p.complex, li.rightHalf p.complex,
li.leftThird p.complex, li.middleThird p.complex, li.rightThird p.complex,
.iphone p.complex { padding: 0 0 9px 0; }
.hideSeconds .seconds, .hideAMPM .ampm, .hideAddr2 .addr2,
.hideSecondary #previousPageButton, .hideCents .radix, .hideCents .cents,
.hideState .state { display: none; }
form li.section { clear: both; margin: 0; padding: 7px 0 0 0; position: static; width: auto !important; }
form li.section h3 { border-top: 1px dotted #ccc; font-size: 110%; font-weight: normal; line-height: 135%; margin: 0 0 3px 0; padding: 12px 1% 0 1%; width: auto; }
form li.first { padding: 0; }
form li.first h3 { border-top: none !important; padding: 8px 1% 0 1%; }
form li.section div { display: block; float: none; font-size: 85%; line-height: 160%; margin: 0 0 1em 0; padding: 0 1% 0 1%; width: auto; }
form li.section.scrollText { border: 1px solid #dedede; box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px; height: 150px; margin-bottom: 10px; o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px; overflow: auto; padding: 10px; }
form li.section.scrollText h3 { border: none; padding-top: 8px; }
form li.captcha { border-top: 1px dotted #ccc; clear: both; margin-top: 5px; padding: 1.1em 1% 9px 1%; position: static; width: auto !important; }
form li.captcha label.desc { float: none; margin-bottom: 4px; width: auto !important; }
*+html #recaptcha_area, *+html #recaptcha_table { min-width: 450px !important; }
* html #recaptcha_area, * html #recaptcha_table { width: 450px !important; }
#recaptcha_widget_div table { background: #fff; }
form li.captcha .noscript iframe { border: none; margin: 0; overflow: hidden; padding: 0; }
form li.captcha .noscript label.desc { display: block !important; }
form li.captcha .noscript textarea { margin-left: 12px; }
iframe[src="about:blank"] { display: none; }
form li.paging-context { border-bottom: 1px dotted #ccc; clear: both; margin: 0 0 7px 0; padding: 5px 1% 10px 1%; position: static; width: auto !important; }
.paging-context table { width: 100%; }
.pgStyle1 td { text-align: left; vertical-align: middle; }
.pgStyle1 td.c { width: 22px; }
.pgStyle1 td.t { padding: 0 1%; }
.pgStyle1 var { background: none; border: 1px solid #CCC; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px; color: #000; display: block; float: left; font-size: 85%; font-style: normal; height: 20px; line-height: 19px; o-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px; text-align: center; width: 20px; }
.pgStyle1 .done var { background: #ccc; }
.pgStyle1 .selected var { background: #FFF7C0; border: 1px solid #e6dead; color: #000; font-weight: bold; }
.pgStyle1 b { color: #000; font-size: 85%; font-weight: normal; }
.pgStyle1 .selected b { font-weight: bold; }
.circle6 td, .circle7 td { text-align: center; vertical-align: top; }
.nopagelabel td.t { display: none; }
.nopagelabel .pgStyle1 var, .circle6 var, .circle7 var { border-radius: 12px; float: none; font-size: 90%; height: 24px; line-height: 24px; margin: 0 auto 7px auto; width: 24px; }
.nopagelabel .pgStyle1 var { margin-bottom: 0; }
.circle6 b, .circle7 b { padding: 0; }
.circle2 td { width: 50%; }
.circle3 td { width: 33%; }
.circle4 td { width: 25%; }
.circle5 td { width: 20%; }
.circle6 td { width: 16.6%; }
.circle7 td { width: 14.2%; }
.pgStyle2 td { border: 1px solid #CCC; border-radius: 14px; box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px; height: 25px; o-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px; padding: 2px; position: relative; vertical-align: middle; }
.pgStyle2 var { background: #FFF7C0; border-radius: 12px; box-shadow: rgba(0, 0, 0, 0.15) 1px 0 0; color: #000; display: block; float: left; font-style: normal; height: 26px; o-box-shadow: rgba(0, 0, 0, 0.15) 1px 0 0; text-align: right; }
.pgStyle2 var b { display: block; float: right; font-size: 100%; line-height: 19px; padding: 3px 10px 3px 3px; }
.pgStyle2 em { display: inline-block; font-size: 85%; font-style: normal; line-height: 18px; margin: 0 0 0 9px; padding: 4px 0; }
.pgStyle2 var em { padding: 4px 5px 3px 0; }
.page1 .pgStyle2 var { background: none; box-shadow: none; o-box-shadow: none; padding-left: 7px; text-align: left; }
.page1 .pgStyle2 b { float: none; padding-right: 0; }
.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em { display: none !important; }
#errorLi, .error-container { background: #fff !important; border: 1px solid red; border-radius: 20px; margin: 15px auto 15px auto; padding: 1em 0 1em 0; text-align: center; width: 99%; }
.error-container { margin: 2em; padding: 2em; width: auto; }
#errorMsgLbl { color: #DF0000 !important; font-size: 125%; margin: 0 0 5px 0; padding: 0; }
#errorMsg { color: #000 !important; font-size: 100%; margin: 0 0 2px 0; }
#errorMsg b { background-color: #FFDFDF !important; border-radius: 10px; color: red !important; padding: 2px 8px; }
form li.error { background-color: #FFDFDF !important; display: block !important; margin-bottom: 3px !important; }
form li label.error, form li input.error { color: #DF0000 !important; font-weight: bold !important; }
form li input.error { background: #fff !important; border: 2px solid #DF0000 !important; }
form li.error label, form li.error span.symbol { color: #000 !important; }
form li.error .desc { color: #DF0000 !important; }
form p.error { clear: both; color: #DF0000 !important; display: none; font-size: 11px; font-weight: bold; line-height: 10px !important; margin: 0 !important; padding: 7px 0 0 0 !important; }
form li.error p.error { display: block; }
form li.complex p.error { padding: 0 0 9px 0 !important; }
.rtl h1, .rtl form * { direction: rtl; text-align: right; }
.rtl li span { float: right; }
.rtl .right { float: left; }
.rtl #logo a { background-position: right top; }
.rtl label.choice { margin: -17px 23px 0 0; }
.rtl .leftLabel .desc, .rtl .rightLabel .desc { float: right; margin: 0 0 0 15px; }
.rtl .leftLabel li div, .rtl .rightLabel li div { float: right; }
.rtl .leftLabel .desc { text-align: left; }
.rtl li.focused .instruct, .rtl li:hover .instruct { left: auto; right: 100%; }
.rtl .leftLabel p.instruct, .rtl .rightLabel p.instruct { margin-right: 5px; }
.rtl .leftLabel .altInstruct .instruct, .rtl .rightLabel .altInstruct .instruct { margin-right: 31% !important; padding-right: 15px; }
.rtl .leftLabel .buttons, .rtl .rightLabel .buttons { padding-right: 23%; }
.rtl .leftLabel .buttons div, .rtl .rightLabel .buttons div { float: none; margin: 0 20px 0 0; }
.noI .rtl .leftLabel .buttons, .noI .rtl .rightLabel .buttons { padding-right: 31%; }
.noI .rtl .leftLabel .buttons div, .noI .rtl .rightLabel .buttons div { margin: 0 17px 0 0; }
.rtl .likert td label { text-align: center; }
.rtl .likert caption, .rtl .likert tbody th { text-align: right; }
.rtl .likert td { border-left: none; border-right: 1px solid #ccc; text-align: center; }
.rtl .pgStyle1 var { text-align: center; }
.rtl .pgStyle1 td { text-align: right; }
.rtl .pgStyle2 var { float: right; }
.rtl .pgStyle2 var b { float: left; padding: 3px 3px 3px 10px; }
.rtl .pgStyle2 em { margin: 0 9px 0 0; }
.rtl .pgStyle2 var em { padding: 4px 0 3px 5px; }
.rtl .page1 .pgStyle2 var { padding-right: 7px; }
.rtl .page1 .pgStyle2 b { padding-left: 0; }
.rtl .buttons .marker { left: 0; padding: 15px 0 0 10px; right: auto; }
.rtl #errorLi * { text-align: center; }
.rating span { cursor: pointer; }
.rating span:focus { outline: 0; }
.rating span, .rating:hover span:hover ~ span { color: #c7c7c7; font-size: 20px; height: 1em; line-height: 1em; padding-right: .1em; text-shadow: 0 0 1px #444; width: .9em; }
.rating .clicked { color: #FFD954; }
.rating>span:hover, .rating .clicked:hover, .rating:hover span { color: #ffe487; cursor: pointer; text-shadow: 0 0 1px #ff0000; }
.rating:hover span { _color: #c7c7c7; }
.msie6 .rating span, .msie7 .rating span { color: #c7c7c7; display: inline; display: inline-block; font-family: "Pictos"; font-size: 20px; height: 30px; width: 30px; zoom: 1; }
.msie6 .rating span:hover, .msie6 .rating span.clicked, .msie7 .rating span:hover,
.msie7 .rating span.clicked { color: #ffe487; }
@media print { .rating span { color: #c7c7c7; }
}
.badge { width: 80%; }
.badge * { box-sizing: border-box; }
.badge h2 { color: white; font-family: "Lucida Grande", Tahoma, Arial, sans-serif; text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
.badge .badge-inner { display: block; margin: 0 0%; width: 100%; }
.badge .badge-inner::after { clear: both; content: ""; display: table; }
.badge .col { padding: 1.5em 5%; }
.badge .left-col { display: inline; float: left; margin: 0 0%; margin: 0 -1.5%; width: 31.8333333333%; width: 33.3333333333%; }
.badge .right-col { display: inline; float: left; font-size: 15px; margin: 0 0%; margin: 0 -1.5%; width: 65.1666666667%; width: 66.6666666667%; }
.badge ul { list-style-type: none; }
.badge li { margin-bottom: .5em; }
.badge a { text-decoration: none; }
.clearfix::after, .cf::after { clear: both; content: ""; display: table; }
.row { display: block; margin: 0 0%; width: 100%; }
.row::after { clear: both; content: ""; display: table; }
.pull-1 { margin-right: 8.3333333333%; }
.inner-content { padding: 2em; }
.inner-content .inner-content:first-of-type { padding: 2em 2em 2em 0; }
.inner-content .inner-content:last-of-type { padding: 2em 0 2em 2em; }
#menu { top: 0px; }
#stage .info a.wf-btn { border-radius: 0; box-shadow: none; }
.btn { background: #ddd; background-image: none; border: 1px solid transparent; border-radius: 2px; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin-bottom: 0; moz-user-select: none; ms-touch-action: manipulation; ms-user-select: none; padding: 6px 12px; text-align: center; touch-action: manipulation; user-select: none; vertical-align: middle; webkit-user-select: none; white-space: nowrap; }
a.btn { color: #333; text-decoration: none; }
.action-buttons { background: #eee; border-radius: 5px; padding: 10px; }
table.table { width: 100%; }
table.table thead tr th { background: #eee; cellpadding: 2px; padding: 5px; text-align: center; }
#tags { background: #B3D7FF; margin: 25px 0 25px -20px; padding: 0 20px; width: 100%; }
#tags ul { margin: 0; padding: 0; }
#tags ul li { display: inline-block; list-style: none; margin: 0; position: relative; }
#tags ul li a { color: #152531; display: block; font-weight: bold; padding: 10px 20px; }
#tags ul li a:hover, #tags ul li a.active { background: #E5F0FF; }
#tags ul li a.active .arrow { display: block; }
#tags ul li a .arrow { border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #E5F0FF; display: none; height: 0; left: 50%; margin-left: -10px; position: absolute; top: 100%; width: 0; }
#tags ul li.active { font-weight: bold; }
#tag-stat-wrapper { margin-bottom: 5px; margin-top: 20px; }
#tag-stat-wrapper #general-tag-stats { display: inline-block; width: 50%; }
#tag-stat-wrapper #statsHeader { font-size: 14px; font-weight: bold; left: 50%; ms-transform: translate(-50%); padding-top: 8px; position: absolute; transform: translate(-50%); webkit-transform: translate(-50%); }
#tag-stat-wrapper #formStatsByTag { width: 30%; }
#tag-stat-wrapper #statsRange { font-size: 16px; font-weight: bold; margin-top: 5px; }
#tag-stat-wrapper #general-tag-stats-inner { margin: 10px; }
#tag-stat-wrapper #general-tag-stats { float: left; width: 100%; }
#tag-stat-wrapper #general-tag-stats-section1 { padding: 15px 0 0 0; }
#tag-stat-wrapper #general-tag-stats-section2 { padding: 0 0 20px 0; }
#tag-stat-wrapper .stats-display h3 { font-size: 20px; font-weight: bold; margin: 10px 0; text-align: left; }
#best-form-stats #best-form-stats-section1 { font-size: 135%; text-align: center; width: 100%; }
#best-form-stats #best-form-stats-section2 { line-height: 180%; text-align: center; width: 100%; }
#best-form-stats #bPerformingViews, #best-form-stats #bPerformingEntries,
#best-form-stats #bPerformingRevenue, #best-form-stats #bPerformingConversion { padding-left: 10px; }
#best-form-stats a { color: #555555; text-decoration: none; }
.labels { background-image: url(/images/icons/anchor.png) !important; background-position: 5px 7px; }
.paddedStatsLeft { border-radius: 20px; display: inline-block; float: left; max-width: 24%; min-width: 100px; text-overflow: ellipsis; width: 24%; }
.paddedStatsRight { border-radius: 20px; display: inline-block; float: right; max-width: 24%; text-overflow: ellipsis; width: 24%; }
.paddedStatsCenter { border-radius: 20px; display: inline-table; max-width: 24%; text-overflow: ellipsis; width: 24%; }
.paddedMainStats { display: block; font-size: 180%; font-style: normal; font-weight: bold; line-height: 150%; text-align: center; }
.paddedMainStatsHeading { display: block; font-style: normal; line-height: 150%; text-align: center; }
.vat-container { width: 100% !important; }
#vatPrefix { width: 15% !important; }
#vat { width: 79% !important; }
.vat-container>span { margin-right: 5px !important; }
